@import "../../../assets/stylesheets/settings/toRem";
@import "../../../assets/stylesheets/settings/variables";

.list-item {
    list-style-type: none;
    margin-bottom: toRem(32);

    &--with-icon {
        display: grid;
        align-items: center;
        grid-template-columns: toRem(16) 1fr;
        grid-gap: toRem(8);

        @media (min-width: 768px) {
            grid-gap: toRem(12);
        }
    }

    &--full {
        display: block;
    }

    .fas {
        color: $primary;
        font-size: toRem(18);
    }

    &__icon-container {
        display: grid;
        grid-template-columns: toRem(12) toRem(24);
        grid-gap: toRem(4);
    }
}
