@import "../../../assets/stylesheets/settings/toRem";
@import "../../../assets/stylesheets/settings/variables";
@import "../../../assets/stylesheets/settings/mixins";

.link {
    @include button;

    &--ghost {
        background: $white;
    
        color: $secondary;
        border: 2px solid $secondary;

        &:hover {
            color: $white;
            border: 2px solid $primary;
        }
    }

    &:hover {
        background-color: $primary;
    }
}