@import "../../../assets/stylesheets/settings/toRem";
@import "../../../assets/stylesheets/settings/variables";

.link {
    padding: toRem(8) toRem(24);

    background: $secondary;

    color: $white;
    text-decoration: none;
    font-family: $font-family-secondary;
}