@import '../../../assets/stylesheets/settings/variables';
@import '../../../assets/stylesheets/settings/toRem';
@import '../../../assets/stylesheets/settings/mixins';

.language {
    display: flex;
    margin: toRem(12) 0;

    background-color: $white;
    border: 4px solid $white;

    @media (min-width: 768px) {
        margin: 0;
        border: none;
    }

    &__label {
        font-family: $font-family-primary;
        padding: 8px;
        border: none;
        color: $white;
        background-color: $primary;

        &--active, &:hover {
            background-color: $white;
            color: $primary;
        }
    }

    &__container {
        position: relative;
    }

    &__input {
        opacity: 0;
        position: absolute;
        left: -9999px;
        

        &:focus+.language-buttons__label {
            outline: 2px solid black;
        }
    }
}