@import "../../../assets/stylesheets/settings/toRem";
@import "../../../assets/stylesheets/settings/variables";


.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: toRem(32);

    @media (min-width: 768px) {
       padding-top: toRem(80); 
    }
    
    &__title {
        margin: toRem(8) 0 0 0;

        color: $primary;
        font-family: $font-family-primary;
        font-size: toRem(48);

        @media (min-width: 992px) {
            font-size: toRem(75);
        }
    }

    &__image {
        border-radius: 50%;
        max-height: 175px;
    }

    &__subtitle {
        max-width: toRem(200);
        margin: toRem(4) 0 toRem(16) 0;

        color: $secondary;
        font-family: $font-family-primary;
        font-size: toRem(20);
        text-align: center;

        @media (min-width: 992px) {
            max-width: toRem(500);
            margin: toRem(4) 0 toRem(28) 0;

            font-size: toRem(28);
            line-height: toRem(34);
        } 
    }
}